@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light only;
}

html,
body,
#__next {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
