@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../vendor/mailchimp/classic-061523.css";

:root {
  color-scheme: light only;
}

html,
body,
#__next {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: #000;
}
